.map {
    float: left;
    width: 75%;
    height: 50%;
	border: medium solid black;
}
.panel {
    width: 15%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
} 
.panel {
    background-color: rgba(128,128,128,.2);
    border: medium solid black;
    float: top;
    margin: 10px 20px 0 0;
}

.panel {
    float: top, right;
    margin: 7px 20px 0 0;
}

.panelBackground {
    fill: rgba(128,128,128,.2);
}

.panelFrame {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}
