.map {
	border: medium solid #999;
}
.panel {
    width: 15%;
    padding: 100px;
    display: inline-block;
    vertical-align: top;
} 
.panel {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}

.panel {
    float: right;
    margin: 7px 20px 0 0;
}

.panelBackground {
    fill: rgba(128,128,128,.2);
}

.panelFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}
